
body {
    background-color: #a9d8ff;
    color: hsl(213, 63%, 74%);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #bebcbc;
    color: hwb(213, 63% 74%);
    font-family: "Bai Jamjuree", sans-serif;
}
.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
